body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

div .Main {
  display: block;
}

header {
  background-color: #1565C0;
  height: 80px;
  padding: 20px;
  color: white;
}

div .Main-orange-bar {
  background-color: #EF6C00;
  height: 10px;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}

.Main-logo {
  font-size: 1.5em;
  text-align: left;
  float: left;
  margin: 10px;
}

nav {
  font-size: 1.2em;
  float: right;
  text-align: center;
  margin-right: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

article {
  padding-top: 0;
  text-align: center;
  font-size: large;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Main-content {
  margin-top: 20px;
  padding: 30px 10px;
  background-color: white;
}

.btn {
    float: none !important;
    margin-top: 10px;
}